*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background-image: url("../front-end/assets/login-bg.jpeg");
   background-size: cover;
   background-position:center ;
}